:root {

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d6d4d0;
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: 'Raleway', sans-serif;
}

button:hover {
  border-color: #646cff;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.react-calendar:focus {
    outline: none; /* Remove outline on focus */
}

/* Ensure that the previously selected date remains visible */
.react-calendar__tile--active {
    background-color: #646cff; /* Adjust background color for active date */
    color: #ffffff; /* Adjust text color for active date */
}

/* Remove styles applied when a date is clicked */
.react-calendar__tile--now:active,
.react-calendar__tile--now:focus,
.react-calendar__tile--now:hover {
    background-color: transparent; /* Remove background color */
    color: inherit; /* Use default text color */
}

/* Add custom styles for textarea */
textarea {
    background-color: #ffffff; /* Set background color */
    color: #000000; /* Set text color */
}